<nav>
    <div class="container">
        <img src="/assets/logo.png" height="100%"/>
        <div class="btn-group btn-group-lg">
            <button class="btn" routerLink="/home" routerLinkActive="active">
                Home
            </button>
            <button class="btn" routerLink="/about" routerLinkActive="active">
                About
            </button>
            <button class="btn" routerLink="/menu" routerLinkActive="active">
                Menu
            </button>
            <button class="btn" routerLink="/contact" routerLinkActive="active">
                Contact
            </button>
        </div>
    </div>
</nav>